<div class="grid-cols-1 w-full grid  min-h-screen sm:grid-cols-3 md:grid-cols-4 py-40">
  <app-product class="cursor-pointer" (showProduct)="showProductDetails($event)" (addedProduct)="addToCart($event)" [product]="product"  *ngFor="let product of products"  ></app-product>
  <button
    class="border border-gray-200 bg-white p-4 rounded-lg shadow-lg"
    (click)="onLoadMore()"
  >
    Load more
  </button>
</div>

<!-- slice product details -->
<div class="product-detail border border-black p-5 " [class.active]="showProductDetail">
  <div class="flex justify-between">
    <button (click)="toggleProductDetail()" class=" underline ">
      Cerrar
    </button>
    <p>
      <span class="text-yellow-500">&#9733;</span>
      {{productDetail.rating.rate}}
    </p>
  </div>
  <div class="flex flex-col justify-center items-center pt-5">
    <p class="text-2xl">
      {{productDetail.title}}
    </p>
    <div class="h-80 my-5">
      <img [src]="productDetail.image" alt="product image" class="h-72 object-cover">
    </div>
    <!-- <p>
      {{productDetail.price}}
    </p> -->
    <p class="text-center text-sm px-10 py-5">
      {{productDetail.description}}
    </p>
    <button class="bg-primary text-white border border-black rounded-full py-1 w-[80%] hover:bg-blue-800 transition duration-300">Agregar</button>

  </div>
</div>
