<div class="sm:block shadow-md">
  <!-- Show on mobile -->
  <div class="px-4 py-2 flex justify-between items-center sm:hidden">
    <button>
      <img src="../../../assets/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="../../../assets/logo_yard_sale.svg" alt="logo">
    </a>
    <a href="">
      <img src="../../../assets/icon_shopping_cart.svg" alt="logo">
    </a>
  </div>

  <!-- Hide on mobile -->
  <div class="hidden sm:flex px-4 py-2 justify-between items-center">
    <nav class="flex items-center">
      <a class="mr-4" href="">
        <img src="../../../assets/logo_yard_sale.svg" alt="logo">
      </a>
      <ul class="flex list-none">
        <li><a class="mr-2  " href="">All</a></li>
        <li><a class="mr-2 " href="">Clothes</a></li>
        <li><a class="mr-2 " href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="flex items-center">
      <div class="mr-2">test@mail.com</div>
      <a href="">
        <img src="../../../assets/icon_shopping_cart.svg" alt="logo">
      </a>
    </div>
  </div>
</div>
