.transition-all {
  transition-property: all;
  transition-duration: 1500ms;
  transition-timing-function: ease;
}

.max-h-0 {
  max-height: 0;
}

.max-h-screen {
  max-height: 100vh;
}
.active{
  border: 1px solid #acd9b2;
border-radius: 10px;
padding: 5px;
transition: all 0.3s ease;

}
