<div class="flex  flex-col justify-between h-[469px]  hover:bg-gray-100 hover:shadow-md transition duration-300">
<div class="flex border-r border-b  border-t border-gray-300 flex-col justify-between h-[469px]  hover:bg-gray-100 hover:shadow-md transition duration-300">
  <div class="p-5">
    <p>
      <span class="text-yellow-500">&#9733;</span>
      {{product.rating.rate}}
    </p>
    <p class=" font-medium italic">{{product.category}}</p>
  </div>
  <app-img [routerLink]="['/product', product.id]" [img]="product.image" [alt]="product.title" class="rounded-lg object-cover h-40 md:h-48"></app-img>
  <div class="mt-2 px-5 py-2 max-h-[80px] min-h-[80px]">
    <p class="text-md font-medium ">{{product.title}}</p>
    <p class="text-sm mt-1">{{product.price}}</p>
  </div>
  <div class="flex justify-evenly items-center mb-4 text-sm">
    <button class="border border-black rounded-full py-1 text-black w-[138px] hover:bg-gray-200 transition duration-300">
      <a routerLink="." [queryParams]="{ product: product.id }">Ver detalle</a>
    </button>
    <button (click)="addToCart($event)" class="bg-primary text-white border border-black rounded-full py-1 w-[138px] hover:bg-blue-800 transition duration-300">Agregar</button>
  </div>
</div>
